body {
    position: relative;
    width: 1440px;
    height: 5969px;
    background-color: #fff;
}

/* Main section*/


.thrive-talk-logo {
    position: absolute;
    width: 484px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin: 27px 0 0 179px ;
    color: #62D0DF;
}

.yellow-box {
    position: absolute;
    width: 1117px;
    height: 840px;
    background: #F4F9E2;
    margin-top: 0px;
    
}

.blue-box {
    
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    margin: -170.66px 0 0 739.93px;
    background: #EDFDFF;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    z-index: 1;
}

.people {
    position: absolute;
    margin: -52.57px 0 0 697.98px;
    z-index: 2;

}

.menu {
    position: absolute;
    margin: 38px 0 0 607px;
}

.menu-item {
    font-family: Larsseit;
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
    margin-right: 20px;
}

.button {
    position: absolute;
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    border: #62D0DF;
    margin: 27px 0 0 1159px;
    z-index: 3;
}

.button-text {
    position: absolute;
    width: 90px;
    height: 11px;
    margin: 47px 0 0 1189px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 4;
    text-decoration: none;
}

.thrive-talk {
    position: absolute;
    width: 484px;
    height: 64px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin: 241px 0 0 179px ;
    color: #62D0DF;
}

.main-call {
    position: absolute;
    width: 484px;
    height: 167px;
    margin: 305px 0 0 179px ;
    font-family: Larsseit;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
}

.main-call-description {
    position: absolute;
    width: 469px;
    height: 161px;
    margin: 491px 0 0 179px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
}

.who {
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 715px 0 0 179px;
    background: #F9B640;
    border: #F9B640;
}

.who-link {

    position: absolute;
    width: 90px;
    height: 29px;
    margin: 725px 0 0 209px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
}

.what {
    position: absolute;
    width: 150px;
    height: 43px;
    margin: 718px 0 0 367px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    text-decoration: none;
}

/*Why Thrive section*/

.why-thrive-section {
    position: absolute;
    width: 1437px;
    height: 607px;
    margin: 842px 0 0 1px;
    background: #62D0DF;
   
}

.wy-thrive {
    position: absolute;
    width: 223px;
    height: 51px;
    margin: 993px 0 0 179px;
    font-family: Larsseit;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #fff;
  
}

.wy-thrive-description {
    position: absolute;
    width: 555px;
    height: 235px;
    margin: 1119px 0 0 179px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
 
}

.girl {
    position: absolute;
    margin: 842px 0 0 915px;
    width: 525px;
    height: 607px;
}

/*About us section*/

.about-us-section {
    position: absolute;
    width: 1440px;
    height: 361px;
    margin: 1446px 0 0 0;
    background: #FFFFFF;
}

.about-us {
    position: absolute;
    width: 93px;
    height: 210px;
    margin: 1602px 0 0 106px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356F;
}

.about-us-description {
    position: absolute;
    width: 592px;
    height: 210px;
    margin: 1596px 0 0 424px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #22356F;
}

/*Services Section*/

.services {
    position: absolute;
    width: 201px;
    height: 21px;
    margin: 1882px 0 0 620px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}

/*Small boxes*/

.service-box-one {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 0;
    background: #FFE2DE;
}

.line-box {
    position: absolute;
    width: 255px;
    height: 72px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin-top: 1927px;
}

.service-items {
    position: absolute;
    margin-top: 2022px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
}

.item-color {
    color: #E9B730;
    border-radius: 9px;
}

.service-item-text {
    color: #FFFFFF
}

.service-box-two {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 360px;
    background: #C4E769;
}

.service-box-three {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 720px;
    background: #62D0DF;
}

.service-box-four {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 1078px;
    background: #0052C1;
}

/*Big boxes line one*/

.service-big-box-one {
    position: absolute;
    width: 480px;
    height: 480px;
    margin-top: 2407px;
    background: #22356F
}

.line-big-box {
    position: absolute;
    width: 340px;
    height: 96px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin-top: 2407px;
}

.service-items-big {
    position: absolute;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    margin-left: 20px;
}

.item-color-big {
    color: #E9B730;
    border-radius: 12px;
    
}

.service-big-box-two {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2407px 0 0 480px;
    background: #0052C1
}

.service-big-box-three {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2407px 0 0 960px;
}

.line-big-box-three {
    position: absolute;
    width: 340px;
    height: 2px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin: 2501px 0 0 1030px;
}

/*Big boxes line two*/

.line-big-box-two {
    position: absolute;
    width: 340px;
    height: 96px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin-top: 2887px;
}

.service-big-box-four {
    position: absolute;
    width: 480px;
    height: 480px;
    margin-top: 2887px;
    background: #62D0DF;
}

.service-big-box-five {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2887px 0 0 480px;
    background: #DEE1FF;
}

.service-big-box-six {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2887px 0 0 960px;
    background:#8F00FF;
}

/* Information section*/

.information-box {
    position: absolute;
    width: 480px;
    height: 240px;
    background: #FFFFFF;
    margin-top: 3389px;
}


.information-title {
    position: absolute;
    left: 21.88%;
    right: 29.38%;
    top: 22.92%;
    bottom: 62.08%;
    font-family: Larsseit;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
}

.information-text {
    position: absolute;
    left: 21.88%;
    right: 16.04%;
    top: 49.58%;
    bottom: 15.42%;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
}

.information-box-two {
    position: absolute;
    width: 480px;
    height: 240px;
    background: #FFFFFF;
    margin-top: 3629px;
}

/*-Blog Section */

.man {
    position: absolute;
    width: 480px;
    height: 800px;
    margin-top: 3909px;
}

.blog-title {
    position: absolute;
    width: 217px;
    height: 20px;
    margin: 4012px 0 0 586px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #22356F;
}

.blog-text {
    position: absolute;
    width: 676px;
    height: 215px;
    margin: 4257px 0 0 586px ;
    font-family: Larsseit;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
}

.get-help {
    position: absolute;
    width: 518px;
    height: 43px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

}

.get-help-link {
    position: absolute;
    margin: 4624px 0 0 586px;
    color: #FAB63E;
    text-decoration: none;
}

.get-help-link-two {
    position: absolute;
    margin: 5424px 0 0 180px;
    color: #62D0DF;
    text-decoration: none;
}

.smileing-man {
    position: absolute;
    width: 480px;
    height: 800px;
    margin: 4709px 0 0 960px;
}

/* Contact us section */

.contacts-box {
    position: absolute;
    width: 960px;
    height: 800px;
    margin-top: 4709px;
    background: #22356F;
}

.contacts-title {
    position: absolute;
    width: 108px;
    height: 14px;
    margin: 103px 0 0 180px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.contacts-call {
    position: absolute;
    width: 704px;
    height: 66px;
    margin: 347px 0 0 180px;
    font-family: Larsseit;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.contacts-text {
    position: absolute;
    width: 579px;
    height: 253px;
    margin: 488px 0 0 180px;
    font-family: Larsseit;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.goodman {
    position: absolute;
    width: 570px;
    height: 380px;
    margin-top: 5509px;
}

.cotacts-info-box {
    position: absolute;
    width: 1443px;
    height: 380px;
    margin-top: 5509px;
}
.contacts-info-title {
    position: absolute;
    width: 240px;
    height: 48px;
    margin-top: 98px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
}

.contacts-info-text {
    position: absolute;
    width: 207px;
    height: 115px;
    margin-top: 166px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}

/*Footer*/

.footer {
    position: absolute;
    width: 1443px;
    height: 80px;
    margin-top: 5889px;
    background: #62D0DF;
    
}

.copyright-sign {
    position: absolute;
    width: 9px;
    height: 12px;
    margin: 34px 0 0 179px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.copyright-text {
    position: absolute;
    width: 351px;
    height: 22px;
    margin: 32px 0 0 194px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

body {
    
    position: relative;
    width: 1440px;
    height: 5969px;
    background-color: #fff;
}

/* Main section*/


.thrive-talk-logo {
    position: absolute;
    width: 484px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin: 27px 0 0 179px ;
    color: #62D0DF;
}

.yellow-box {
    position: absolute;
    width: 1117px;
    height: 840px;
    background: #F4F9E2;
    margin-top: 0px;
    
}

.blue-box {
    
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    margin: -170.66px 0 0 739.93px;
    background: #EDFDFF;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
    z-index: 1;
}

.people {
    position: absolute;
    margin: -52.57px 0 0 697.98px;
    z-index: 2;

}

.menu {
    position: absolute;
    margin: 38px 0 0 607px;
}

.menu-item {
    font-family: Larsseit;
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
    margin-right: 20px;
}

.button {
    position: absolute;
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    border: #62D0DF;
    margin: 27px 0 0 1159px;
    z-index: 3;
}

.button-text {
    position: absolute;
    width: 90px;
    height: 11px;
    margin: 47px 0 0 1189px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 4;
    text-decoration: none;
}

.thrive-talk {
    position: absolute;
    width: 484px;
    height: 64px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin: 241px 0 0 179px ;
    color: #62D0DF;
}

.main-call {
    position: absolute;
    width: 484px;
    height: 167px;
    margin: 305px 0 0 179px ;
    font-family: Larsseit;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
}

.main-call-description {
    position: absolute;
    width: 469px;
    height: 161px;
    margin: 491px 0 0 179px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
}

.who {
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 715px 0 0 179px;
    background: #F9B640;
    border: #F9B640;
}

.who-link {

    position: absolute;
    width: 90px;
    height: 29px;
    margin: 725px 0 0 209px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
}

.what {
    position: absolute;
    width: 150px;
    height: 43px;
    margin: 718px 0 0 367px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    text-decoration: none;
}

/*Why Thrive section*/

.why-thrive-section {
    position: absolute;
    width: 1437px;
    height: 607px;
    margin: 842px 0 0 1px;
    background: #62D0DF;
   
}

.wy-thrive {
    position: absolute;
    width: 223px;
    height: 51px;
    margin: 993px 0 0 179px;
    font-family: Larsseit;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
    color: #fff;
  
}

.wy-thrive-description {
    position: absolute;
    width: 555px;
    height: 235px;
    margin: 1119px 0 0 179px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
 
}

.girl {
    position: absolute;
    margin: 842px 0 0 915px;
    width: 525px;
    height: 607px;
}

/*About us section*/

.about-us-section {
    position: absolute;
    width: 1440px;
    height: 361px;
    margin: 1446px 0 0 0;
    background: #FFFFFF;
}

.about-us {
    position: absolute;
    width: 93px;
    height: 210px;
    margin: 1602px 0 0 106px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #22356F;
}

.about-us-description {
    position: absolute;
    width: 592px;
    height: 210px;
    margin: 1596px 0 0 424px;
    font-family: Larsseit;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
    color: #22356F;
}

/*Services Section*/

.services {
    position: absolute;
    width: 201px;
    height: 21px;
    margin: 1882px 0 0 620px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(34, 53, 111, 0.5);
}

/*Small boxes*/

.service-box-one {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 0;
    background: #FFE2DE;
}

.line-box {
    position: absolute;
    width: 255px;
    height: 72px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin-top: 1927px;
}

.service-items {
    position: absolute;
    margin-top: 2022px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
}

.item-color {
    color: #E9B730;
    border-radius: 9px;
}

.service-item-text {
    color: #FFFFFF
}

.service-box-two {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 360px;
    background: #C4E769;
}

.service-box-three {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 720px;
    background: #62D0DF;
}

.service-box-four {
    position: absolute;
    width: 360px;
    height: 360px;
    margin: 1927px 0 0 1078px;
    background: #0052C1;
}

/*Big boxes line one*/

.service-big-box-one {
    position: absolute;
    width: 480px;
    height: 480px;
    margin-top: 2407px;
    background: #22356F
}

.line-big-box {
    position: absolute;
    width: 340px;
    height: 96px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin-top: 2407px;
}

.service-items-big {
    position: absolute;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    margin-left: 20px;
}

.item-color-big {
    color: #E9B730;
    border-radius: 12px;
    
}

.service-big-box-two {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2407px 0 0 480px;
    background: #0052C1
}

.service-big-box-three {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2407px 0 0 960px;
}

.line-big-box-three {
    position: absolute;
    width: 340px;
    height: 2px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin: 2501px 0 0 1030px;
}

/*Big boxes line two*/

.line-big-box-two {
    position: absolute;
    width: 340px;
    height: 96px;
    box-shadow: inset 0px -1px 0px #fff; 
    margin-top: 2887px;
}

.service-big-box-four {
    position: absolute;
    width: 480px;
    height: 480px;
    margin-top: 2887px;
    background: #62D0DF;
}

.service-big-box-five {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2887px 0 0 480px;
    background: #DEE1FF;
}

.service-big-box-six {
    position: absolute;
    width: 480px;
    height: 480px;
    margin: 2887px 0 0 960px;
    background:#8F00FF;
}

/* Information section*/

.information-box {
    position: absolute;
    width: 480px;
    height: 240px;
    background: #FFFFFF;
    margin-top: 3389px;
}


.information-title {
    position: absolute;
    left: 21.88%;
    right: 29.38%;
    top: 22.92%;
    bottom: 62.08%;
    font-family: Larsseit;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
}

.information-text {
    position: absolute;
    left: 21.88%;
    right: 16.04%;
    top: 49.58%;
    bottom: 15.42%;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
}

.information-box-two {
    position: absolute;
    width: 480px;
    height: 240px;
    background: #FFFFFF;
    margin-top: 3629px;
}

/*-Blog Section */

.man {
    position: absolute;
    width: 480px;
    height: 800px;
    margin-top: 3909px;
}

.blog-title {
    position: absolute;
    width: 217px;
    height: 20px;
    margin: 4012px 0 0 586px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #22356F;
}

.blog-text {
    position: absolute;
    width: 676px;
    height: 215px;
    margin: 4257px 0 0 586px ;
    font-family: Larsseit;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.01em;
    color: #22356F;
}

.get-help {
    position: absolute;
    width: 518px;
    height: 43px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

}

.get-help-link {
    position: absolute;
    margin: 4624px 0 0 586px;
    color: #FAB63E;
    text-decoration: none;
}

.get-help-link-two {
    position: absolute;
    margin: 5424px 0 0 180px;
    color: #62D0DF;
    text-decoration: none;
}

.smileing-man {
    position: absolute;
    width: 480px;
    height: 800px;
    margin: 4709px 0 0 960px;
}

/* Contact us section */

.contacts-box {
    position: absolute;
    width: 960px;
    height: 800px;
    margin-top: 4709px;
    background: #22356F;
}

.contacts-title {
    position: absolute;
    width: 108px;
    height: 14px;
    margin: 103px 0 0 180px;
    font-family: Larsseit;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.contacts-call {
    position: absolute;
    width: 704px;
    height: 66px;
    margin: 347px 0 0 180px;
    font-family: Larsseit;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.contacts-text {
    position: absolute;
    width: 579px;
    height: 253px;
    margin: 488px 0 0 180px;
    font-family: Larsseit;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.goodman {
    position: absolute;
    width: 570px;
    height: 380px;
    margin-top: 5509px;
}

.cotacts-info-box {
    position: absolute;
    width: 1443px;
    height: 380px;
    margin-top: 5509px;
}
.contacts-info-title {
    position: absolute;
    width: 240px;
    height: 48px;
    margin-top: 98px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #22356F;
}

.contacts-info-text {
    position: absolute;
    width: 207px;
    height: 115px;
    margin-top: 166px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.006em;
    color: rgba(34, 53, 111, 0.5);
}

/*Footer*/

.footer {
    position: absolute;
    width: 1443px;
    height: 80px;
    margin-top: 5889px;
    background: #62D0DF;
    
}

.copyright-sign {
    position: absolute;
    width: 9px;
    height: 12px;
    margin: 34px 0 0 179px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.copyright-text {
    position: absolute;
    width: 351px;
    height: 22px;
    margin: 32px 0 0 194px;
    font-family: Larsseit;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}